.mt-7 {
  margin-top: 0.44rem;
}
.ml-109 {
  margin-left: 6.81rem;
}
.ml-108 {
  margin-left: 6.75rem;
}
.mt-11 {
  margin-top: 0.69rem;
}
.mt-13 {
  margin-top: 0.81rem;
}
.page {
  padding: 8.25rem 2.25rem 3.5rem;
  background-color: #000000;
  height: 96rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.section_3 {
  padding: 1.38rem 0 3.5rem 2.13rem;
  background-color: #00152866;
  box-shadow: 0rem 0rem 2.13rem #276288bd inset;
  width: 29.88rem;
  border-left: solid 0.13rem #004e66;
  border-right: solid 0.13rem #004e66;
  border-top: solid 0.13rem #004e66;
  border-bottom: solid 0.13rem #004e66;
}
.pos_6 {
  position: absolute;
  left: 2.25rem;
  top: 8.25rem;
}
.group_2 {
  padding: 0 1rem;
}
.image_5 {
  width: 8.56rem;
  height: 2.06rem;
}
.group_5 {
  padding: 8.38rem 0 10.81rem;
}
.section_7 {
  margin-right: 0.75rem;
  background-color: #00000000;
  height: 2.13rem;
}
.image_6 {
  width: 25.06rem;
  height: 21.31rem;
}
.pos_8 {
  position: absolute;
  left: 0.25rem;
  right: 0.38rem;
  bottom: 0;
}
.image_11 {
  margin-left: 1.13rem;
}
.group_14 {
  margin-top: 0.94rem;
}
.image_12 {
  width: 27.5rem;
  height: 3.88rem;
}
.image_14 {
  margin-right: 0.25rem;
}
.section_11 {
  margin: 0 1rem;
  background-color: #00000000;
  height: 3.5rem;
}
.pos_36 {
  position: absolute;
  left: 0;
  right: 0.2rem;
  top: 0;
  bottom: 0;
}
.image_16 {
  margin-right: 0.25rem;
}
.image_22 {
  margin-right: 0.25rem;
}
.image_23 {
  margin-right: 0.25rem;
}
.image_24 {
  margin-right: 0.25rem;
}
.image_25 {
  margin-right: 0.25rem;
}
.group_19 {
  margin-top: 1.63rem;
  padding-left: 1.13rem;
  padding-right: 0.88rem;
}
.image-wrapper_4 {
  padding-top: 1.5rem;
  background-color: #00000000;
  height: 3.5rem;
}
.image_26 {
  width: 24.06rem;
  height: 5.94rem;
}
.image_27 {
  margin-left: 0.19rem;
  margin-right: 1.44rem;
}
.image_28 {
  margin-left: 0.25rem;
  margin-right: 1.38rem;
}
.group {
  padding: 0.31rem 0.75rem 0;
}
.pos {
  position: absolute;
  left: 3.69rem;
  right: 4.31rem;
  top: 1rem;
}
.image {
  width: 8.81rem;
  height: 1.5rem;
}
.image_2 {
  opacity: 0.9;
  width: 62.5rem;
  height: 49.69rem;
}
.section {
  padding: 2rem 25.88rem 0.5rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=906e873d3d26e764a57d0883ad542b4e.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_2 {
  position: absolute;
  left: 4.74rem;
  right: 4.76rem;
  top: 0;
}
.image_3 {
  width: 9.13rem;
  height: 2.44rem;
}
.text {
  color: #ffffff;
  font-size: 2.25rem;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 2.18rem;
  letter-spacing: 0.5rem;
}
.font {
  font-size: 1.1rem;
  font-family: SourceHanSansCN;
  line-height: 0.88rem;
  color: #ffffff;
}
.text_2 {
  font-size: 1.06rem;
  line-height: 1.25rem;
  letter-spacing: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  width: 31.56rem;
}
.image_4 {
  width: 35.19rem;
  height: 1.06rem;
}
.pos_4 {
  position: absolute;
  right: 0;
  top: 2.75rem;
}
.pos_3 {
  position: absolute;
  left: 0;
  top: 2.75rem;
}
.section_5 {
  opacity: 0.57;
  background-image: conic-gradient(from 180deg at 50% 50%, #002d2c00 91deg, #00000000 270deg);
  border-radius: 50%;
  width: 8.7rem;
  height: 8.24rem;
  border-left: dotted 0.23rem #19ecff;
  border-right: dotted 0.23rem #19ecff;
  border-top: dotted 0.23rem #19ecff;
  border-bottom: dotted 0.23rem #19ecff;
}
.pos_9 {
  position: absolute;
  right: 31.21rem;
  top: 11.38rem;
}
.group_6 {
  padding-top: 0.38rem;
  border-image-slice: 1;
  border-radius: 50%;
  width: 7.68rem;
  border-left: solid 0.54rem #00e0db00;
  border-right: solid 0.54rem #00e0db00;
  border-top: solid 0.54rem #00e0db00;
  border-bottom: solid 0.54rem #00e0db00;
}
.pos_11 {
  position: absolute;
  right: 31.72rem;
  top: 11.86rem;
}
.group_7 {
  margin-left: 0.38rem;
  opacity: 0.5;
  border-image-slice: 1;
  border-radius: 50%;
  height: 5.82rem;
  border-left: dotted 0.27rem #19ecff00;
  border-right: dotted 0.27rem #19ecff00;
  border-top: dotted 0.27rem #19ecff00;
  border-bottom: dotted 0.27rem #19ecff00;
}
.font_2 {
  font-size: 1.1rem;
  font-family: SourceHanSansCN;
  line-height: 1.04rem;
  font-weight: 700;
  color: #ffffff;
}
.text_3 {
  line-height: 1.03rem;
}
.pos_14 {
  position: absolute;
  left: 0.43rem;
  top: 1.84rem;
}
.pos_28 {
  position: absolute;
  right: 31.21rem;
  top: 32.81rem;
}
.pos_30 {
  position: absolute;
  right: 31.72rem;
  top: 33.3rem;
}
.text_15 {
  line-height: 1.04rem;
}
.pos_32 {
  position: absolute;
  left: 0;
  right: -0.27rem;
  top: 2.1rem;
}
.section_10 {
  padding: 0.5rem 0;
  background-color: #00000000;
  width: 8.69rem;
}
.pos_21 {
  position: absolute;
  right: 31.22rem;
  top: 22.13rem;
}
.view {
  margin: 0 0.5rem;
}
.text_10 {
  width: 5.5rem;
}
.pos_25 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pos_10 {
  position: absolute;
  left: 32.57rem;
  top: 11.64rem;
}
.pos_12 {
  position: absolute;
  left: 33.09rem;
  top: 12.13rem;
}
.text_4 {
  line-height: 1.05rem;
}
.pos_15 {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.84rem;
}
.pos_29 {
  position: absolute;
  left: 32.57rem;
  top: 33.08rem;
}
.pos_31 {
  position: absolute;
  left: 33.09rem;
  top: 33.57rem;
}
.text_16 {
  line-height: 1.05rem;
}
.pos_33 {
  position: absolute;
  left: 0;
  right: -0.19rem;
  top: 2.1rem;
}
.pos_22 {
  position: absolute;
  left: 32.57rem;
  top: 22.4rem;
}
.pos_23 {
  position: absolute;
  left: 33.09rem;
  top: 22.88rem;
}
.pos_24 {
  position: absolute;
  left: 32.61rem;
  bottom: 23.37rem;
}
.image-wrapper_2 {
  padding: 7.63rem 0 8.25rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=4f3b3c70ed776644371852db17fa0455.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 19rem;
}
.pos_19 {
  position: absolute;
  left: 41.71rem;
  top: 18.23rem;
}
.image_8 {
  width: 2.38rem;
  height: 3.13rem;
}
.image_9 {
  margin-left: 5.38rem;
}
.image-wrapper_3 {
  padding: 7.63rem 0 8.25rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=aafc3a4db25f25b78ce0e31af5c6d304.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 19rem;
}
.pos_20 {
  position: absolute;
  right: 39.79rem;
  top: 18.23rem;
}
.image-wrapper {
  padding-top: 0.38rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=63181ced0004310099650e348cd070b8.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20.13rem;
  height: 19.13rem;
}
.pos_18 {
  position: absolute;
  right: 49.16rem;
  top: 17.87rem;
}
.image_7 {
  width: 20.13rem;
  height: 19.13rem;
}
.section_6 {
  padding: 8rem 0 8.88rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=156bbf279a4af31300bac42ad09682dd.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 28.38rem;
}
.pos_13 {
  position: absolute;
  right: 45.18rem;
  top: 14.02rem;
}
.section_9 {
  padding: 3.13rem 0 3.75rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=c35ccda48d2a1dd2fb0a0578f399e43c.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 10rem;
}
.text_9 {
  color: #66ffff;
  font-size: 2.79rem;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 2.16rem;
}
.font_4 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.88rem;
  font-weight: 700;
  color: #ffffff;
}
.text_13 {
  font-size: 0.87rem;
  line-height: 0.83rem;
}
.font_9 {
  font-size: 1.5rem;
  font-family: SourceHanSansCN;
  line-height: 1.45rem;
  font-weight: 800;
  color: #ffffff;
}
.pos_37 {
  position: absolute;
  right: 58.33rem;
  bottom: 43.32rem;
}
.image_17 {
  width: 25.06rem;
  height: 6.63rem;
}
.pos_38 {
  position: absolute;
  left: 36.69rem;
  bottom: 35.5rem;
}
.section_12 {
  background-color: #00678e66;
  width: 10.5rem;
  border-left: solid 0.063rem #156a8a;
  border-right: solid 0.063rem #156a8a;
  border-top: solid 0.063rem #156a8a;
  border-bottom: solid 0.063rem #156a8a;
}
.pos_39 {
  position: absolute;
  right: 50.94rem;
  top: 54.13rem;
}
.image_18 {
  width: 0.31rem;
  height: 1.94rem;
}
.font_6 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.88rem;
  color: #ffffff;
}
.font_10 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.68rem;
  font-weight: 800;
  color: #ffffff;
}
.text_5 {
  opacity: 0.8;
}
.text_28 {
  font-size: 0.9rem;
  line-height: 0.83rem;
}
.text_12 {
  font-size: 1.13rem;
  line-height: 0.86rem;
}
.pos_27 {
  position: absolute;
  left: 50%;
  bottom: 1.27rem;
  transform: translateX(-50%);
}
.text_23 {
  font-size: 1.13rem;
  line-height: 0.86rem;
}
.pos_35 {
  position: absolute;
  left: 50%;
  bottom: 1.48rem;
  transform: translateX(-50%);
}
.text_7 {
  font-size: 1.13rem;
  line-height: 0.86rem;
}
.pos_17 {
  position: absolute;
  left: 50%;
  bottom: 1.75rem;
  transform: translateX(-50%);
}
.text_11 {
  font-size: 1.13rem;
  line-height: 0.83rem;
}
.pos_26 {
  position: absolute;
  left: 50%;
  bottom: 1.29rem;
  transform: translateX(-50%);
}
.text_22 {
  font-size: 1.13rem;
  line-height: 0.84rem;
}
.pos_34 {
  position: absolute;
  left: 50%;
  bottom: 1.66rem;
  transform: translateX(-50%);
}
.text_6 {
  font-size: 1.13rem;
  line-height: 0.86rem;
}
.pos_16 {
  position: absolute;
  left: 50%;
  bottom: 1.75rem;
  transform: translateX(-50%);
}
.text_29 {
  font-size: 0.9rem;
}
.image_19 {
  width: 1.89rem;
  height: 1.94rem;
}
.pos_40 {
  position: absolute;
  right: 49.31rem;
  bottom: 39.97rem;
}
.image_20 {
  width: 1.88rem;
  height: 1.94rem;
}
.pos_41 {
  position: absolute;
  right: 46.62rem;
  bottom: 39.97rem;
}
.section_13 {
  padding-left: 0.75rem;
  background-color: #00678e66;
  width: 10.5rem;
  border-left: solid 0.063rem #156a8a;
  border-right: solid 0.063rem #156a8a;
  border-top: solid 0.063rem #156a8a;
  border-bottom: solid 0.063rem #156a8a;
}
.pos_42 {
  position: absolute;
  right: 36.37rem;
  top: 54.13rem;
}
.text_30 {
  font-size: 0.9rem;
  line-height: 0.83rem;
}
.text_31 {
  font-size: 0.9rem;
}
.image_21 {
  width: 0.38rem;
  height: 1.94rem;
}
.pos_43 {
  position: absolute;
  right: 50.94rem;
  top: 56.5rem;
}
.text_32 {
  font-size: 0.9rem;
  line-height: 0.83rem;
}
.pos_44 {
  position: absolute;
  right: 49.31rem;
  bottom: 37.59rem;
}
.pos_45 {
  position: absolute;
  right: 46.62rem;
  bottom: 37.59rem;
}
.pos_46 {
  position: absolute;
  right: 36.37rem;
  top: 56.5rem;
}
.pos_47 {
  position: absolute;
  right: 50.94rem;
  top: 58.88rem;
}
.text_33 {
  font-size: 0.9rem;
  line-height: 0.83rem;
}
.pos_48 {
  position: absolute;
  right: 49.31rem;
  bottom: 35.22rem;
}
.pos_49 {
  position: absolute;
  right: 46.62rem;
  bottom: 35.22rem;
}
.section_14 {
  padding-left: 0.63rem;
  background-color: #00678e66;
  width: 10.5rem;
  border-left: solid 0.063rem #156a8a;
  border-right: solid 0.063rem #156a8a;
  border-top: solid 0.063rem #156a8a;
  border-bottom: solid 0.063rem #156a8a;
}
.pos_50 {
  position: absolute;
  right: 36.37rem;
  top: 58.88rem;
}
.text_34 {
  font-size: 0.9rem;
  line-height: 0.83rem;
}
.text_35 {
  font-size: 0.9rem;
}
.text_36 {
  line-height: 1.42rem;
}
.pos_51 {
  position: absolute;
  right: 60.02rem;
  bottom: 27.08rem;
}
.font_11 {
  font-size: 0.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.88rem;
  color: #ffffff73;
}
.text_37 {
  text-align: right;
  width: 2.5rem;
}
.pos_61 {
  position: absolute;
  left: 33.27rem;
  top: 72.4rem;
}
.pos_63 {
  position: absolute;
  left: 52.96rem;
  top: 72.59rem;
}
.pos_62 {
  position: absolute;
  right: 52.61rem;
  top: 72.4rem;
}
.font_12 {
  font-size: 0.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.54rem;
  color: #ffffff73;
}
.text_38 {
  line-height: 0.59rem;
}
.pos_64 {
  position: absolute;
  left: 34.16rem;
  bottom: 21.02rem;
}
.text_40 {
  line-height: 0.59rem;
}
.pos_66 {
  position: absolute;
  left: 53.84rem;
  bottom: 20.83rem;
}
.text_39 {
  line-height: 0.59rem;
}
.pos_65 {
  position: absolute;
  right: 52.53rem;
  bottom: 21.02rem;
}
.font_13 {
  font-size: 0.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.54rem;
  color: #ffffffa6;
}
.pos_67 {
  position: absolute;
  left: 36.7rem;
  bottom: 20.26rem;
}
.pos_68 {
  position: absolute;
  left: 43.05rem;
  bottom: 20.26rem;
}
.pos_69 {
  position: absolute;
  left: 49.57rem;
  bottom: 20.26rem;
}
.group_18 {
  padding: 2.38rem 0 0.63rem;
  width: 16.76rem;
}
.pos_52 {
  position: absolute;
  left: 35.97rem;
  top: 70.26rem;
}
.divider {
  background-image: repeating-linear-gradient(90deg, #e6f7ff4d, #e6f7ff4d 1.12%, transparent 1.12%, transparent 2.239%);
  background-position: -0.094rem 0rem;
  height: 0.063rem;
}
.divider_2 {
  margin-top: 2rem;
  background-color: #8fabbf73;
  height: 0.063rem;
}
.section_16 {
  padding-bottom: 1.63rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=6da3809a71e9882b84c0f6e1161f25c7.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 14.5rem;
}
.pos_53 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.section_15 {
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=7e5440942715acac4dc2fff26374ee91.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 2.81rem;
}
.section_20 {
  padding-bottom: 0.75rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=4e56e476d05ce6bc66417c1c26e73f57.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 14.5rem;
}
.pos_58 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section_19 {
  margin-right: 0.13rem;
  padding: 3rem 2.75rem 0;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=49db6e24cafbe48ee43d7def630b7768.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 14.56rem;
}
.section_23 {
  background-color: #ffffff;
  border-radius: 50%;
  width: 0.19rem;
  height: 0.15rem;
}
.pos_73 {
  position: absolute;
  left: 56.39rem;
  bottom: 20.07rem;
}
.pos_74 {
  position: absolute;
  left: 50%;
  bottom: 20.07rem;
  transform: translateX(-50%);
}
.pos_75 {
  position: absolute;
  right: 56.74rem;
  bottom: 20.07rem;
}
.pos_56 {
  position: absolute;
  left: 50%;
  top: 70.45rem;
  transform: translateX(-50%);
}
.section_18 {
  padding-bottom: 1.5rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=6da3809a71e9882b84c0f6e1161f25c7.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 14.5rem;
}
.pos_57 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.section_17 {
  padding-top: 2.75rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=22c7b8b8c4d3060486ad40691e1018fe.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 14.56rem;
}
.group_20 {
  width: 8.77rem;
}
.section_22 {
  background-color: #ffffff;
  border-radius: 50%;
  width: 0.11rem;
  height: 0.092rem;
}
.pos_60 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section_21 {
  margin-right: 0.13rem;
  padding: 3rem 2.75rem 0;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=fd72873cbff551e0eee2462f6bda0cbc.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 14.56rem;
}
.pos_70 {
  position: absolute;
  right: 49.67rem;
  bottom: 20.26rem;
}
.pos_71 {
  position: absolute;
  right: 43.33rem;
  bottom: 20.26rem;
}
.pos_72 {
  position: absolute;
  right: 36.8rem;
  bottom: 20.26rem;
}
.pos_54 {
  position: absolute;
  right: 35.65rem;
  top: 70.26rem;
}
.pos_55 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.pos_59 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text_41 {
  line-height: 0.83rem;
}
.pos_77 {
  position: absolute;
  left: 42.37rem;
  bottom: 18.78rem;
}
.font_14 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.81rem;
  color: #ffffff;
}
.pos_78 {
  position: absolute;
  left: 50%;
  bottom: 18.72rem;
  transform: translateX(-50%);
}
.font_7 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.81rem;
  color: #ffffff;
}
.pos_76 {
  position: absolute;
  right: 42.38rem;
  bottom: 19.04rem;
}
.pos_88 {
  position: absolute;
  left: 33.39rem;
  top: 80.34rem;
}
.pos_90 {
  position: absolute;
  left: 53.08rem;
  top: 80.52rem;
}
.pos_89 {
  position: absolute;
  right: 52.48rem;
  top: 80.34rem;
}
.text_42 {
  line-height: 0.59rem;
}
.pos_91 {
  position: absolute;
  left: 34.28rem;
  bottom: 13.08rem;
}
.text_44 {
  line-height: 0.59rem;
}
.pos_93 {
  position: absolute;
  left: 53.97rem;
  bottom: 12.89rem;
}
.text_43 {
  line-height: 0.59rem;
}
.pos_92 {
  position: absolute;
  right: 52.41rem;
  bottom: 13.08rem;
}
.pos_94 {
  position: absolute;
  left: 36.83rem;
  bottom: 12.32rem;
}
.pos_95 {
  position: absolute;
  left: 43.17rem;
  bottom: 12.32rem;
}
.pos_96 {
  position: absolute;
  left: 49.7rem;
  bottom: 12.32rem;
}
.pos_79 {
  position: absolute;
  left: 36.1rem;
  top: 78.2rem;
}
.pos_80 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.pos_85 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pos_100 {
  position: absolute;
  left: 56.51rem;
  bottom: 12.13rem;
}
.pos_101 {
  position: absolute;
  left: 50%;
  bottom: 12.13rem;
  transform: translateX(-50%);
}
.pos_102 {
  position: absolute;
  right: 56.62rem;
  bottom: 12.13rem;
}
.pos_83 {
  position: absolute;
  left: 50%;
  top: 78.39rem;
  transform: translateX(-50%);
}
.pos_84 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.pos_87 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pos_97 {
  position: absolute;
  right: 49.55rem;
  bottom: 12.32rem;
}
.pos_98 {
  position: absolute;
  right: 43.2rem;
  bottom: 12.32rem;
}
.pos_99 {
  position: absolute;
  right: 36.68rem;
  bottom: 12.32rem;
}
.pos_81 {
  position: absolute;
  right: 35.52rem;
  top: 78.2rem;
}
.pos_82 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.pos_86 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pos_103 {
  position: absolute;
  left: 41.62rem;
  bottom: 11.22rem;
}
.font_15 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.81rem;
  color: #ffffff;
}
.pos_105 {
  position: absolute;
  left: 50%;
  bottom: 11.04rem;
  transform: translateX(-50%);
}
.pos_104 {
  position: absolute;
  right: 40.57rem;
  bottom: 11.23rem;
}
.section_2 {
  padding: 2.13rem 0.25rem 1.5rem 0.5rem;
  background-color: #00152866;
  box-shadow: 0rem 0rem 2.13rem #276288bd inset;
  width: 30rem;
  border-left: solid 0.13rem #004e66;
  border-right: solid 0.13rem #004e66;
  border-top: solid 0.13rem #004e66;
  border-bottom: solid 0.13rem #004e66;
}
.pos_5 {
  position: absolute;
  right: 2.13rem;
  top: 7.69rem;
}
.group_3 {
  padding: 0 0.75rem;
}
.group_4 {
  padding: 9rem 0 8.63rem;
}
.section_8 {
  background-color: #00000000;
  width: 24.94rem;
  height: 2.13rem;
}
.section_4 {
  padding: 5.88rem 3.13rem 11.13rem;
  background-image: url('https://ide.code.fun/api/image?token=699fc1459a40b800116ec2c0&name=bef4cc15552601df5410eeccb66c5385.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 26.25rem;
}
.pos_7 {
  position: absolute;
  left: 0;
  right: 1.14rem;
  top: 0;
}
.group_8 {
  margin-left: 3.88rem;
}
.font_3 {
  font-size: 1.36rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.97rem;
  color: #66ffff;
}
.text_8 {
  margin-top: 0.38rem;
  color: #66ffff;
  font-size: 1.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 1.25rem;
}
.text_14 {
  margin-left: 1.13rem;
  margin-top: 2.38rem;
  font-size: 1.09rem;
  font-weight: 800;
  line-height: 1.06rem;
}
.image_10 {
  margin-left: 1.13rem;
  margin-top: 0.5rem;
  width: 3.19rem;
  height: 0.31rem;
}
.group_9 {
  margin-top: 1.63rem;
  padding: 0 0.88rem;
}
.group_10 {
  line-height: 0.82rem;
  height: 0.82rem;
}
.font_5 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.68rem;
  font-weight: 700;
  color: #ffffff;
}
.text_17 {
  line-height: 0.67rem;
}
.text_18 {
  line-height: 0.82rem;
}
.text_19 {
  margin: 0 0.38rem;
  line-height: 0.82rem;
}
.group_11 {
  line-height: 0.82rem;
  height: 0.82rem;
}
.text_20 {
  line-height: 0.82rem;
}
.group_12 {
  line-height: 0.81rem;
  height: 0.81rem;
}
.text_21 {
  line-height: 0.67rem;
}
.group_13 {
  margin-top: 0.63rem;
  padding: 0 3.13rem;
  height: 0.67rem;
}
.font_8 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.68rem;
  color: #ffffff;
}
.text_24 {
  line-height: 0.67rem;
}
.text_25 {
  line-height: 0.67rem;
}
.view_2 {
  margin-top: -0.63rem;
}
.text_26 {
  line-height: 0.67rem;
}
.text_27 {
  line-height: 0.67rem;
}
.group_15 {
  margin-top: 0.5rem;
  padding: 0 1.75rem;
}
.image_13 {
  width: 4.13rem;
  height: 2.5rem;
}
.group_16 {
  margin-right: 1rem;
}
.group_17 {
  margin-top: 1.56rem;
}
.image_15 {
  width: 27.5rem;
  height: 3.13rem;
}